<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Title_Selection.Properties.Settings.dbTitleSelectionConnectionString"
            connectionString="Data Source=.\SQL2008R2;Initial Catalog=dbTitleSelection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>